{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            <h1 class="text-center">Original Photorealistic Pencil Drawings</h1>
        </div>
    </div>

    <div class="row">
        <div class="col banner-col">
        <img class="banner-pic" src="{% static 'media/call-to-action.jpg' %}" alt="banner drawing">
        <h2 class="action-statement">Discover Art That Speaks to You</h2>
        <a class="btn-success btn action-button" href="{% url 'products' %}">Shop Now</a>
    </div>
    </div>

    <div class="row home-col">
       <div class="col"><h2>Passionate Artist:</h2>
        <p>Amberley combines skill and creativity to bring lifelike art to life through pencil and colored pencil.</p></div>
       <div class="col"><img class="home-pic" src="{% static 'media/batman-drawing.jpg' %}" alt="batman drawing"></div>
     </div>
     <div class="row home-col">
        <div class="col"><img class="home-pic" src="{% static 'media/joker-drawing.jpg' %}" alt="joker drawing"></div>
        <div class="col"><h2>Pencil & Colored Pencil:</h2>
         <p> A unique blend of traditional techniques that showcase vibrant colors and fine details.</p></div>
      </div>
      <div class="row home-col">
        <div class="col"><h2>Limited Editions:</h2>
         <p>Exclusive pieces available for a limited time, perfect for collectors and enthusiasts.</p></div>
        <div class="col"><img class="home-pic" src="{% static 'media/venom-drawing.jpg' %}" alt="venom drawing"></div>
      </div>
</div>
{% endblock %}